html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
	max-width: 100%;
}

p, h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

:root {
	--color-orange-light: #FFB84D;
	--color-orange: #F90;
	--color-orange-dark:  #E1670E;
	--color-gray: #c6c0bb;
	--color-white-body: #F1F1F1;
	--color-black-body: #1f1e1e;
	--color-gray-btn: #b9b9b9;
	--color-gray-descr: #757373;
  --color-dark: #000;
	--color-light: #fff;
	--gap: 32px;
}

body {
  font-family: 'Monserrat', 'sans-serif';
  font-weight: 400;
  min-width: 320px;
}

.connection-right {
	position: fixed;
	right: 0;
	top: 250px;
	z-index: 999;
	background-color: rgb(70, 69, 69);
	border-radius: 6px 0 0 6px;
}

.connection-right__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 8px;
}

.connection-right__item:not(:last-child) {
	border-bottom: 1px solid #575656;
}

.connection-right__btn {
	background-color: transparent;
	border: none;
}

.connection-right__btn svg {
	fill: #FFF;
	transition: fill 0.3s ease-in-out;
}

.connection-right__btn:hover svg {
	fill: var(--color-orange);
}



.swiper-wrapper {
	box-sizing: border-box;
}

.swiper-slide{
  transition: transform .2s;
}
.swiper-slide{
  transition: width .2s;
}

.title {
	margin-bottom: 20px;
	color: var(--color-light);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}

.section_offset {
	padding: 80px 0;
}

.btn__normal {
	padding: 15px 40px;
	border-radius: 16px;
	background-color: var(--color-orange);
	border: none;
	color: var(--color-light);
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	transition: background-color 0.3s ease-in-out;
}

.btn__normal:focus {
	outline: none;
	background-color: var(--color-orange-light);
}

.btn__normal:hover {
	outline: none;
	background-color:var(--color-orange-light);
	cursor: pointer;
}

.btn__normal:active {
	outline: none;
	background-color: var(--color-orange-dark);
}

.container {
	max-width: 1270px;
}

/* header */
.header {
	background-color: rgba(19, 18, 18, 0.8);
	position: fixed;
	z-index: 999;
	width: 100%;
}

.container_header {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header__logo {
	position: relative;
	margin-right: 30px;
}

.header__logo::before {
  content: "";
  position: absolute;
  outline: none;
  border: 1px solid var(--color-orange);
  top: -4px;
  bottom: -1px;
  left: -6px;
  right: -6px;
	opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.header__logo:focus {
	outline: none;
}

.header__logo:focus::before {
	opacity: 1;
}

.icons {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-right: 10px;
	margin-right: 20px;
	border-right: 1px solid #a09999;
}

.icons__link {
	display: inline-block;
	border-radius: 50%;
	height: 35px;
	position: relative;
	transition: all 0.4s ease-in-out;
}

.icons__tg:hover {
	box-shadow:0 0 25px #0e6deb;
}

.icons__wt:hover {
	box-shadow:0 0 25px #0aa005;
}

.icons__link::before {
  content: "";
  position: absolute;
  outline: none;
  border: 1px solid var(--color-orange);
  top: -5px;
  bottom: -2px;
  left: -6px;
  right: -6px;
	opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.icons__link:focus {
	outline: none;
}

.icons__link:focus::before {
	opacity: 1;
}


.icons__link:active {
	transform: translateY(4px);
}

.icons__link:active::before {
	opacity: 0;
}


.header__tel {
	position: relative;
	margin-right: 40px;
	font-weight: 400;
	font-size: 18px;
	color: var(--color-light);
	transition: color 0.4s ease-in-out;
}

.header__tel::before {
  content: "";
  position: absolute;
  outline: none;
  border: 1px solid var(--color-orange);
  top: -4px;
  bottom: -4px;
  left: -8px;
  right: -8px;
	opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.header__tel:focus {
	outline: none;
}

.header__tel:focus::before {
	opacity: 1;
}

.header__tel:hover {
	color: var(--color-orange);
}

.header__tel:active {
	color: var(--color-orange-dark);
}

.header__tel:active::before {
	opacity: 0;
}

.nav {
	margin-right: auto;
}

.nav__list {
	display: flex;
	gap: 30px;
}

.link {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	color: var(--color-light);
	transition: color 0.4s ease-in-out;
}

.link::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
	background-color: #F90;
	opacity: 0;
}

.link:focus {
	outline: none;
}

.link:focus::after {
	opacity: 1;
	transition: opacity 0.4s ease-in-out;
}

.link:hover {
	color: var(--color-orange);
}

.link:active {
	display: inline-block;
	transform: scale(1.1);
}

.link:active::after {
	opacity: 0;
}

.enter-cabinet__link {
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--color-light);
	transition: color 0.4s ease-in-out, gap 0.3s ease-in-out;
}

.enter-cabinet__link::before {
  content: "";
  position: absolute;
  outline: none;
  border: 1px solid var(--color-orange);
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
	opacity: 0;
  transition: opacity 0.4s ease-in-out;
}


.enter-cabinet__link:focus {
	outline: none;
}

.enter-cabinet__link:focus::before {
	opacity: 1;
}

.enter-cabinet__link:hover {
	color: var(--color-orange);
	gap: 8px;
}

.enter-cabinet__link:hover svg {
	fill: var(--color-orange);
}

.enter-cabinet__link svg {
	fill: #e0b937;
	fill: var(--color-gray);
	transition: fill 0.4s ease-in-out;
}

.enter-cabinet__link:active  {
	color: var(--color-orange-dark);
}

.enter-cabinet__link:active svg {
	fill: var(--color-orange-dark);
}

.enter-cabinet__link:active::before  {
	opacity: 0;
}


/* footer */
.footer {
	background-color: var(--color-black-body);
}

.footer__wrapp {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 20px;
}

.footer__wrapp::before {
	content: "";
	display: flex;
	width: 50%;
	height: 1px;
	border: 1px solid #999999;
}


.footer__inner {
	padding-top: 60px;
	padding-bottom: 50px;
}

.footer__list {
	color: var(--color-light);
	gap: 0px;
	margin-bottom: 30px;
}

.footer__icons {
	display: flex;
	gap: 20px;
	align-items: center;
}

.footer__link {
	display: flex;
	border: 1px solid #808080;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 39px;
	transition: background-color 0.4s ease-in-out, border 0.4s ease-in;

	--color-tg: #24A1DE;
	--color-youtube: red;
	--color-whatsapp: #25D366;
	--color-viber: #a773d1;
	--color-avito: #e7e6e6;
}

.footer__link_tg:hover {
	background-color: var(--color-tg);
	border: 1px solid var(--color-tg);
}

.footer__link_tg svg {
	transition: fill 0.4s ease-in-out;
}

.footer__link_tg:hover svg {
	fill: #FFF;
}


.footer__link_youtube:hover {
	background-color: var(--color-youtube);
	border: 1px solid var(--color-youtube);
}

.footer__link_youtube svg path {
	transition: stroke 0.4s ease-in-out, fill 0.4s ease-in-out;
}

.footer__link_youtube:hover svg path {
	stroke: #FFF;
}


.footer__link_whatsapp:hover {
	background-color: var(--color-whatsapp);
	border: 1px solid var(--color-whatsapp);
}


.whatsapp__path-1 {
	fill:#808080;
	transition: fill 0.4s ease-in-out;
}

.footer__link:hover .whatsapp__path-1 {
	fill:#FFF;
}

.whatsapp__path-2 {
	fill: var(--color-black-body);
	transition: fill 0.4s ease-in-out;
}

.footer__link:hover .whatsapp__path-2 {
	fill:var(--color-whatsapp);
}


.footer__link_viber:hover {
	background-color: var(--color-viber);
	border: 1px solid var(--color-viber);
}

.footer__link_viber svg  {
	transition: fill 0.4s ease-in-out;
}

.footer__link_viber:hover svg {
	fill: #FFF;
}

.footer__link_avito:hover {
	background-color: var(--color-avito);
	border: 1px solid var(--color-avito);
}


.avito__circle {
	transition: fill 0.4s ease-in-out;
}

.footer__link_avito:hover .avito__circle_1 {
	fill: #60bb0a;
}

.footer__link_avito:hover .avito__circle_2 {
	fill: #0AF;
}

.footer__link_avito:hover .avito__circle_3 {
	fill: #FF6163;
}

.footer__link_avito:hover .avito__circle_4 {
	fill: #A169F7;
}

.footer__wrapp-icons {
	display: flex;
	gap: 30px;
}

.footer__btn-newsletter {
	padding: 8px 20px;
	border: none;
	background-color: #353434;
	border-radius: 12px;
	color: var(--color-light);
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 30px;
	color: var(--color-light);
}

.contact__tel-wrapp {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contact__btn-tel {
	padding: 0;
	max-width: max-content;
	border: none;
	background-color: unset;
	text-transform: uppercase;
	font-size: 12px;
	color: #999999;
}

.contact__btn-tel:hover {
	color: var(--color-light);
}

.contact__tel {
	font-size: 18px;
}

.contact {
	display: flex;
	align-items:first baseline;
	gap: 10px;
}

.contact::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	transform: translateY(2px);
	background-position: center;
	background-repeat: no-repeat;
}

.contact_img1::before {
	width: 16px;
	height: 16px;
	transform:translateY(3px) rotate(43deg);
	background-image: url('../img/footer/phone.svg');
}

.contact_img2::before {
	width: 16px;
	height: 16px;
	background-image: url('../img/footer/email.svg');
}

.contact_img3::before {
	width: 18px;
	height: 18px;
	background-image: url('../img/footer/map.svg');
	background-size: cover;
}

.footer__cop {
	color: #999999;
}



.def {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: var(--color-black-body);
	height: 180px;
}

.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.contacts__map {
	position: relative;
	z-index: 1;
}


.container_contacts {
	position: absolute;
	height: 100%;
	left: 0;
	top: 15%;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.contacts__inner {
	padding: 50px 40px;
	background: #fff;
	max-width: 450px;
	border: 1px solid #a09999;
	border-radius: 6px;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-size: 18px;
}

.contacts__item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts__item_icon {
	flex-direction: row;
}

.contacts__title {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 800;
}

.contacts__subtitle {
	font-size: 20px;
}