html {
	width: 100%;
	height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
	max-width: 100%;
}

p, h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: local('Monserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

body {
  font-family: 'Monserrat', 'sans-serif';
  font-weight: 400;
  min-width: 320px;
	width: 100%;
	height: 100%;
	background-color: var(--color-black-body);
}

:root {
	--color-orange-light: #FFB84D;
	--color-orange: #F90;
	--color-orange-dark:  #E1670E;
	--color-gray: #c6c0bb;
	--color-white-body: #F1F1F1;
	--color-black-body: #1f1e1e;
	--color-gray-btn: #b9b9b9;
	--color-gray-descr: #757373;
  --color-dark: #000;
	--color-light: #fff;
	--gap: 32px;
}

.registration {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 20px;
}

.registration__wrapp {
	width: 510px;
	background-color: var(--color-white-body);
	border-radius: 12px;
}


.registration__title {
	padding: 25px 0;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #cfcfcf;
	color: #3b3b3b;
}

.registration__form {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 30px 40px 50px;
}

.registration__input {
	width: 100%;
	padding: 15px 0;
	padding-right: 55px;
	padding-left: 52px;
	border: none;
	border-radius: 25px;
	background-color: #e2e2e2;
}

.inputWithIcon:has(.registration__input:focus) .icon__input {
	fill: #36b0f7;
}

.registration__input:focus {
	border: none;
	outline: none;
	background-color: #d3d1d1;
}
	

.inputWithIcon {
	position: relative;
}

.inputWithIcon:hover .icon__input {
	fill: #36b0f7;
}


.watch-password {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	fill: #6e6d6d;
	transition: fill 0.3s ease-in-out;
}

.watch-password:hover {
	fill: var(--color-black-body);
}

.icon__input {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	fill: #6e6d6d;
	transition: fill 0.3s ease-in-out;
}

.icon__input_fio{
	width: 22px;
	height: 22px;
}

.icon__input_tel{
	width: 16px;
	height: 16px;
}

.authorization__link-wrapp {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.authorization__link {
	color:#36b0f7;
	transition: color 0.3s ease-in-out;
}

.registration__link:focus {
	outline: none;
	color:#000;
}

.registration__link:hover {
	color:#000;
}

.registration__link:active {
	outline: none;
	color:#616364;
}

.registration__btn {
	padding: 10px 18px;
	border: none;
	background-color: #36b0f7;
	color: var(--color-light);
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.registration__btn:focus {
	outline: none;
	background-color: #000;
}

.registration__btn:hover {
	background-color: #000;
}

.registration__btn:active {
	background-color: #616364;
}

.inputWithIcon {
	position: relative;
}

.toggleCheckbox {
	appearance: none;
}

.toggleCheckbox {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
}

.conset-to-data__label {
	position: relative;
	display: flex;
	max-width: max-content;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	cursor: pointer;
}

.conset-to-data__label::before {
	content: "";
	display: block;
	top: 4px;
	height: 18px;
	width: 33px;
	border-radius: 10px;
	background-color: #e0e0e0;
	transition: background-color 0.3s ease-in-out;
}

.conset-to-data__label::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: -1px;
	border-radius: 50%;
	background: #fff;
	border: none;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease-in-out;
	z-index: 11;
}

.toggleCheckbox:checked + label::before {
	background-color: #36b0f7;
}

.toggleCheckbox:checked + label::after {
	transform: translateX(18px);
}